@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.body{
  background-color: #333;
  font-family: 'Playfair Display', serif;
}
.app-container{
  width: 100vw;
  height: 70vh;
}
.list-container{
  background-color: #ddd;
  width: 50%;
  height: 100%;
  margin: 2% auto;
  text-align: center;
}
.titulo-container{
  width: 100%;
  padding-top: 5%;
  text-align: center;
}
.titulo{
  display: inline-block;
  font-size: 2em;
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 2px dotted #333;
}
.inputs-container{
  width: 70%;
  padding-top: 3%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.insert-tasks{
  padding: 2%;
  padding-right: 40%;
  font-size: 12px;
}
.add-btn{
  padding: 2%;
  font-size: 12px;
  cursor: pointer;
}
.tasks-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  margin-top: 3%;
  background-color: red;
}
.task{
  display: flex;
  width: 70%;
  margin: 0 auto;
  background-color: blue;
  padding: 3%;
  justify-content: space-around;
}
.task-text{
  width: 80%;
  color: #333;
}
.order-btn{
  display: inline;
  padding: 2% 5%;
  margin-top: 4%;
}
.footer{
  width: 100vw;
  height: 20vh;
  margin-top: 3%;
  text-align: center;
}
.logo-container{
  width: 100%;
  height: 50%;
}
.logo{
  height: 100%;
}
.footer-text-container{
  padding-top: 2%;
}
.footer-text{
  color: #ddd;
}
/* Clases genéricas */
.border{
  border-radius: 2em;
  border: none;
}