@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.body{
  background-color: #333;
  font-family: 'Playfair Display', serif;
}
.app-container{
  width: 100vw;
  height: 70vh;
}
.list-container{
  background-color: #ddd;
  width: 50%;
  height: 100%;
  margin: 2% auto;
  text-align: center;
}
.titulo-container{
  width: 100%;
  padding-top: 5%;
  text-align: center;
}
.titulo{
  display: inline-block;
  font-size: 2em;
  font-style: italic;
  padding-bottom: 5px;
  border-bottom: 2px dotted #333;
}
.inputs-container{
  width: 70%;
  padding-top: 3%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.insert-tasks{
  padding: 2%;
  padding-right: 40%;
  font-size: 12px;
}
.insert-tasks:focus{
  outline: none;
}
.add-btn{
  padding: 2%;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.add-btn:hover{
  transform: scale(1.2);
  background-color: lightgreen;
  color: white;
}
.tasks-container{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 60%;
  margin-top: 3%;
  overflow: auto;
  scroll-behavior: smooth;
}
.tasks-container::-webkit-scrollbar{
  width: 10px;
  background-color: #aaa;
  border-radius: 2em;
}
.tasks-container::-webkit-scrollbar-thumb{
  background-color: #222;
  border-radius: 2em;
}
.task{
  display: flex;
  width: 70%;
  margin: 1% auto;
  background-color: #f1f1f1;
  padding: 2%;
  justify-content: space-around;
}
.task-text{
  width: 80%;
  color: #333;
  font-size: 18px;
  font-style: italic;
}
.task-btn{
  background-color: #f1f1f1;
  color: #333;
  transition: all 0.3s;
}
.task-btn:hover{
  transform: scale(1.4);
}
.check-btn:hover{
  color: lightgreen;
}
.del-btn:hover{
  color: red;
}
.order-btn{
  display: inline;
  padding: 2% 5%;
  margin: 2% auto;
  cursor: pointer;
  transition: all 0.3s;
}
.order-btn:hover{
  transform: scale(1.1);
  background-color: rgb(124, 255, 255);
  color: white;
}
.footer{
  width: 100vw;
  height: 20vh;
  margin-top: 3%;
  text-align: center;
}
.logo-container{
  width: 100%;
  height: 50%;
}
.logo{
  height: 100%;
}
.footer-text-container{
  padding-top: 2%;
}
.footer-text{
  color: #ddd;
}
/* Clases genéricas */
.border{
  border-radius: 2em;
  border: none;
}
.input-btn-background{
  background-color: #f1f1f1;
}